<div class="desktop" name="sig-container">
    <div style=" overflow:hidden; padding-top: 1.5em; min-width: 240px; font-family: 'Work Sans', sans-serif; font-size: 14px; ">
        <a href="http://hummingbirdcontent.com" target="_blank" style="float: left;">
            <img src="./hummingbird_114.png" alt="logo" nosend="1" style=" margin-bottom: 10px; width: 94px; height: 94px; " width="94" height="94">
        </a>
        <div style="float: left; margin-left: 15px;">
            <div class="name" style="display:inline-block; text-transform:capitalize; color:rgb(174, 0, 5); line-height: 1.65; font-weight: bold;"><%= name %></div> | <div style="display: inline-block; color: black; text-transform: capitalize; font-weight: 500"><%= title %></div>
            <div class="info" style=" color:#a3a3a3; line-height: 1.65;">
                <div style="color: black; font-weight: 500;">| HUMMINGBIRD CONTENT STUDIO</div>
                <div><a style=" display: block; color: black; text-decoration:none; font-weight: 500;" href="tel://<%= mobile_phone_url %>">| <div style="display: inline; color: rgb(174, 0, 5); font-weight: bold;">mobile:</div>&nbsp;<%= mobile_phone.replace(/\s/g, '.') %></a></div>
                <div><a style=" display: block; color: black; text-decoration:none; font-weight: 500;" href="tel://<%= office_phone_url %>">| <div style="display: inline; color: rgb(174, 0, 5); font-weight: bold;">phone:</div>&nbsp;<%= office_phone.replace(/\s/g, '.') %></a></div>
            </div>
        </div>
    </div>
    <div style=" width: 100%; opacity:0; ">&nbsp;</div>
</div>

<!--Mobile version-->
<div class="mobile" name="sig-container">
    <div style=" overflow:hidden; padding-top: 1.5em; min-width: 240px; font-size: 14px; ">
        <a href="http://hummingbirdcontent.com" target="_blank" style="float: left;">
            <img src="./hummingbird_114.png" alt="logo" nosend="1" style=" margin-bottom: 10px; width: 94px; height: 94px; " width="94" height="94">
        </a>
        <div style="float: left; margin-left: 15px;">
            <div class="name" style="display:inline-block; text-transform:capitalize; color:rgb(174, 0, 5); line-height: 1.65; font-weight: bold;"><%= name %></div> | <div style="display: inline-block; color: black; text-transform: capitalize; font-weight: 500"><%= title %></div>
            <div class="info" style=" color:#a3a3a3; line-height: 1.65;">
                <div style="color: black; font-weight: 500;">| HUMMINGBIRD CONTENT STUDIO</div>
                <div><a style=" display: block; color: black; text-decoration:none; font-weight: 500;" href="tel://<%= mobile_phone_url %>">| <div style="display: inline; color: rgb(174, 0, 5); font-weight: bold;">mobile:</div>&nbsp;<%= mobile_phone.replace(/\s/g, '.') %></a></div>
                <div><a style=" display: block; color: black; text-decoration:none; font-weight: 500;" href="tel://<%= office_phone_url %>">| <div style="display: inline; color: rgb(174, 0, 5); font-weight: bold;">phone:</div>&nbsp;<%= office_phone.replace(/\s/g, '.') %></a></div>
            </div>
        </div>
    </div>
    <div style=" width: 100%; opacity:0; ">&nbsp;</div>
</div>
